<table cellspacing="0" class="tableList"> 
    <thead>
        <tr>
            <th width="10%">Id. U</th>
            <th width="40%">Nombre</th>
            <th width="15%">Perfil</th>
            <th width="20%">Ultimo Ingreso</th>
            <th width="10%">Activo</th>
            <th width="5%">Opc.</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><div class="ui-pg-div"><span class="ui-icon ui-icon-refresh" onclick="listar_usuarios();" title="Recargar la Lista de Usuarios" style="cursor: pointer;"></span></div></td>
            <td colspan="2"></td>
            <td colspan="2"><div style="text-align: right; padding-right: 3px;"> Registros</td>
        </tr>
    </tfoot>
</table>

<input type="hidden" value="{{searchField}}" id="searchFieldf" name="searchFieldf" />
<input type="hidden" value="{{searchOper}}" id="searchOperf" name="searchOperf" />
<input type="hidden" value="{{searchString}}" id="searchStringf" name="searchStringf" />
<input type="hidden" value="{{sidx}}" id="sidxf" name="sidxf" />
<input type="hidden" value="{{sord}}" id="sordf" name="sordf" />
<input type="hidden" value="{{_search}}" id="is_search" name="is_search" />

{% if pager.isPaginable %}

{{ paginate(pager,'ExpAjaxListUsuario', 'change_page_list_users') }}

{% endif %}